nav {
  height: 50px;
  background: var(--primaryColor);
  box-shadow: 0px 1px 5px 2px rgb(155, 155, 155);
  position: relative;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img {
  width: 10rem;
  cursor: pointer;
}
.liste {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.liste a {
  text-decoration: none;
}
.items {
  color: white;
  margin: 15px;
  cursor: pointer;
}
.items:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  nav {
    height: 50px;
    box-shadow: none;
  }
}

@media screen and (max-width: 550px) {
  nav {
    height: 100px;
  }
  .container {
    flex-direction: column;
  }
  .logo {
    padding-top: 10px;
  }
}
