.profil-page {
  margin: 80px auto;
  max-width: 1200px;

  .log-container {
    display: flex;
    justify-content: center;
  }

  .connection-form {
    background: $color-3;
    min-width: 490px;
    width: 60%;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid $color-1;

    .form-container {

      ul {
        list-style-type: none;
        padding: 10px;
        display: flex;
        justify-content: space-around;

        li {
          border-radius: 20px;
          padding: 10px 20px;
          cursor: pointer;
          background: $color-2;
          color: white;
          width: 130px;
          transition: 0.3s;
          box-shadow: 3px 3px 1px rgba(51, 51, 51, 0.418);

          &:hover {
            background: $color-1;
          }
        }
        .active-btn {
          background: $color-1;

          &:hover {
            background: $color-2;
          }
        }
        li:not(.active-btn) {
          &:hover {
            transform: translateX(3px);
          }
        }
      }
      form {
        width: 400px;
        margin: 10px auto 0;
        padding: 20px;

        input {
          border-radius: 7px;
        }

        button,
        input[type="submit"] {
          background: $color-2;
          color: $color-4;
          cursor: pointer;
          transition: 0.2s;
          padding: 10px 20px;
          font-size: 1.1rem;
          border-radius: 20px;
          margin-top: 25px;

          &:hover {
            background: $color-1;
            color: $color-2;
          }
        }
        input[type="checkbox"] {
          width: 20px;
        }
      }
    }
  }
}
