.connectionForm {
  margin: 80px auto 0;
  background: rgb(160, 160, 240);
  min-width: 500px;
  max-width: 500px;
  text-align: center;
  padding: 20px 20px 50px;
  border-radius: 10px;
  border: 2px solid rgb(88, 88, 245);
}

.connectionForm ul {
  list-style-type: none;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.connectionForm li {
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 40px;
  cursor: pointer;
  color: rgb(64, 64, 255);
  width: 130px;
  transition: 0.3s;
  box-shadow: 3px 3px 1px rgba(51, 51, 51, 0.418);
  background: pink;
}

.connectionForm li:hover {
  background: #ff7b77;
}
.connectionForm li:not(.active_btn):hover {
  transform: translateX(3px);
}

.active_btn {
  background: #ff7b77 !important;
}