.formLogin input {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  outline: none;
  border: 1px solid pink;
  margin-top: 7px;
}
.formLogin label {
  padding: 0.2rem 0.5rem;
  background-color: #ff7b77;
  border: 1px solid pink;
  color: white;
  border-radius: 15px;
  font-size: 0.8rem;
}
.formLogin input[type="submit"] {
  background: linear-gradient(160deg, #005de9 0%, #74d8ff 100%);
  color: white;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1.1rem;
  border-radius: 10px;
  margin-top: 55px;
  box-shadow: 3px 3px 1px rgba(51, 51, 51, 0.418);
  border: none;
  width: 200px;
  height: 40px;
}
.formLogin input[type="submit"]:hover {
  transform: scale(1.03);
}
